    <div class="modal fade" id="helpModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content bg-dark border-none">
                <div class="modal-header border-bottom-0">
                    <h5 class="modal-title">HOW TO PLAY</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>You have six tries to guess the word.</p>                    
                    <p>Use the hint at the top to help you.</p>
                    <p>After pressing enter, the tiles will change colors to show how close you are.</p>
                    <hr/>
                    <p>🟩 = the letter is in the correct place</p>
                    <p>🟨 = the letter is in the word, but in a different place</p>
                    <p>⬛ = the letter is not in the word</p>
                    <hr/>
                    <p>Have fun and remember to read the definition at the bottom!</p>
                </div>
            </div>
        </div>
    </div>

@code {

}
